# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

JWT_SECRET_KEY = 286fb9c6f1e332aaa0140d899c0368f3598fd52a

DATABASE_URL="postgres://zfppfzcxhicicl:6829cde252c1c0874f294d536f3b58fc64efb77b18389514728f49a3f6bbac2f@ec2-54-157-79-121.compute-1.amazonaws.com:5432/dfet189u23vqmt?schema=public"

SHADOW_DATABASE_URL = "postgres://zfppfzcxhicicl:6829cde252c1c0874f294d536f3b58fc64efb77b18389514728f49a3f6bbac2f@ec2-54-157-79-121.compute-1.amazonaws.com:5432/dfet189u23vqmt?schema=public"
